@inherits MvvmComponentBase<MainViewModel>

<MudNavMenu Class="aoww-main-menu">

    @if (BindingContext.WalletList.Data?.Where(x => !x.IsReadOnly).Any() ?? false)
    {
        <MudNavLink Href="" Match="NavLinkMatch.All" Class="aoww-main-nav-text mt-2" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
        <MudNavGroup Title="Wallets" Icon="@Icons.Material.Filled.Wallet" Expanded="true">
            @foreach (var wallet in BindingContext.WalletList.Data?.Where(x => !x.IsReadOnly).ToList() ?? new())
            {
                    string detailUrl = $"wallet/{wallet.Address}";

                    <MudNavLink Class="menu-wallets" Href="@detailUrl" style="font-size:12px;" Match="NavLinkMatch.All">
                         <minidenticon-svg style="height:22px;width:22px" username="@wallet.Address"></minidenticon-svg>
                        <div>@wallet.Address.ToShortAddress()</div>
                    </MudNavLink>
            }
        </MudNavGroup>
    }
    else
    {
        <MudNavLink Href="" Match="NavLinkMatch.All" Class="aoww-main-nav-text mt-2" Icon="@Icons.Material.Filled.Wallet">Wallets</MudNavLink>
    }

    <MudNavLink Href="/address-book" Match="NavLinkMatch.All" Class="aoww-main-nav-text" Icon="@Icons.Material.Filled.Contacts">Address Book</MudNavLink>
    <MudNavLink Href="/token-explorer" Match="NavLinkMatch.Prefix" Class="aoww-main-nav-text" Icon="@Icons.Material.Filled.Explore">Token Explorer</MudNavLink>
    <MudNavLink Href="/scan-qr" Match="NavLinkMatch.Prefix" Class="aoww-main-nav-text" Icon="@Icons.Material.Filled.QrCode">QR Scanner</MudNavLink>
    <MudNavLink Href="/apps" Match="NavLinkMatch.Prefix" Class="aoww-main-nav-text" Icon="@Icons.Material.Filled.Apps">Apps</MudNavLink>
    <MudNavLink Href="meme-frames" Match="NavLinkMatch.Prefix" Class="aoww-main-nav-text" Icon="@Icons.Material.Filled.Api">Meme Frames</MudNavLink>
    @* <MudNavLink Href="create-token" Icon="@Icons.Material.Filled.AddCircle" Match="NavLinkMatch.All">Create Token</MudNavLink> *@

    <div style="margin-top: auto; display:flex; flex-direction: row; margin-bottom:20px">
        <div style="border-right: 1px solid gray;">
            <MudNavLink Href="settings" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Settings">Settings</MudNavLink>
            <MudNavLink style="margin-bottom:5px;" Href="about" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Info">About</MudNavLink>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left:4px; padding:5px;">
            <MudLink Href="https://twitter.com/aoWebWallet" Target="_blank">
                <MudChip T="string" Class="cursor-pointer">
                    <AvatarContent >
                        <MudAvatar Class="custom-avatar-size">
                            <MudImage Class="twitter-image" Src="images/twitter.svg"></MudImage>
                        </MudAvatar>
                    </AvatarContent>
                    <ChildContent>Twitter</ChildContent>
                </MudChip>
            </MudLink>

            <MudLink Href="https://discord.gg/bahdqzpNYW" Target="_blank">
                <MudChip T="string" Class="cursor-pointer">
                    <AvatarContent >
                        <MudAvatar Class="custom-avatar-size">
                            <MudImage Class="discord-image" Src="images/discord.svg"></MudImage>
                        </MudAvatar>
                    </AvatarContent>
                    <ChildContent>Discord</ChildContent>
                </MudChip>
            </MudLink>
        </div>

    </div>

</MudNavMenu>

@code {
    private string[] icons = { Icons.Material.Filled.WbSunny, Icons.Material.Filled.NightlightRound };
    int logoCount = 1;

    protected override void OnInitialized()
    {
        WatchDataLoaderVM(BindingContext.WalletList);

        base.OnInitialized();
    }

}
