@page "/about"
@inherits MvvmComponentBase<MainViewModel>

<PageTitle>About - @Program.PageTitlePostFix</PageTitle>

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.ExtraExtraLarge">
    <MudText Typo="Typo.h5">ao Web Wallet</MudText>

    <MudStack>
        <MudItem xs="12" md="6">
            <MudPaper Elevation="2" Class="pa-4">
                <MudText Align="Align.Left">Open Source web wallet for ao on Arweave</MudText>
                <MudText Align="Align.Left">Created for the Hack the Weave hackathon by <a href="https://twitter.com/michielpostnl" target="_blank">Michiel Post</a> and <a href="https://twitter.com/2n1u0" target="_blank">Nuno Lopes</a></MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudText Typo="Typo.h6" GutterBottom="true">Features</MudText>
            <MudPaper Width="100%">
                <MudList>
                    <MudListItem Icon="@Icons.Material.Filled.Star" Text="Open Source" />
                    <MudListItem Icon="@Icons.Material.Filled.Star" Text="Add ArConnect Wallets" />
                    <MudListItem Icon="@Icons.Material.Filled.Star" Text="Add read-only wallets" />
                    <MudListItem Icon="@Icons.Material.Filled.Star" Text="View balances of a wallet" />
                    <MudListItem Icon="@Icons.Material.Filled.Star" Text="View all transactions for a wallet" />
                    <MudListItem Icon="@Icons.Material.Filled.Star" Text="Send tokens for ArConnect Wallets" />
                    <MudListItem Icon="@Icons.Material.Filled.Star" Text="Receive instructions for all wallets" />
                    <MudListItem Icon="@Icons.Material.Filled.Star" Text="Add custom tokens" />
                    <MudListItem Icon="@Icons.Material.Filled.Star" Text="Dark and Light theme" />
                    <MudListItem Icon="@Icons.Material.Filled.Star" Text="Explorer" />
                    <MudListItem Icon="@Icons.Material.Filled.Star" Text="View transactions" />
                    <MudListItem Icon="@Icons.Material.Filled.Star" Text="Inspect the balances of any address" />
                    <MudListItem Icon="@Icons.Material.Filled.Star" Text="View all transactions for a token" />
                </MudList>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudPaper Elevation="2" Class="pa-4">
                <MudText Align="MudBlazor.Align.Left">
                    <a href="https://github.com/michielpost/aoWebWallet" target="_blank">GitHub</a> |
                    Version: @Program.GetVersionWithoutHash()
                    @if (!string.IsNullOrEmpty(versionHash))
                    {
                        <text>-</text>

                        <a href="https://github.com/michielpost/aoWebWallet/tree/@versionHash" target="_blank">@versionHash</a>
                    }
                </MudText>
                <MudText>
                    Found a bug or have a feature request? Please create an issue on <a href="https://github.com/michielpost/aoWebWallet" target="_blank">GitHub</a>.
                </MudText>
                

            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudPaper Elevation="2" Class="pa-4">
                <MudText Align="MudBlazor.Align.Left">
                    Happy with this application? Donations help fund the further development. Donations can go to:
                </MudText>
                <MudText Typo="Typo.caption" Class="KodeMono">
                    zsXSvJtHVSK4QyPch4Uf0JMiZi9uEhgVvyz6qeEJcfY
                </MudText>
            </MudPaper>
        </MudItem>
    </MudStack>
</MudContainer>

    @code {
    string? versionHash = Program.GetVersionHash();
    private string result = DateTimeOffset.UtcNow.ToString();

}
