@page "/wallet/{address}"
@using aoWebWallet.Models
@inherits MvvmComponentBase<MainViewModel>
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<PageTitle>@Address - @Program.PageTitlePostFix</PageTitle>


<MudContainer Class="mt-8 px-8" MaxWidth="MaxWidth.False">
    <MudPaper Class="pa-4 mb-4">
        <MudStack Row="true">
        <MudAvatar Image="@($"images/account--{BindingContext.SelectedWalletIndex}.svg")" Size="Size.Large" Class="rounded-full" />
            <MudStack style="overflow: hidden;" Justify="Justify.Center" Spacing="0">
                <MudText Class="KodeMono" style="text-overflow: ellipsis; white-space: nowrap;overflow: hidden;" Typo="Typo.h6">
                    @Address
                </MudText>
                <MudText Typo="Typo.body2">@BindingContext.SelectedWallet?.Name</MudText>
            </MudStack>
            <MudSpacer />
        </MudStack>
    </MudPaper>

     <MudContainer style="max-width: 100%;"  Width="100%" Class="d-flex justify-end mb-4 pr-4">
            <MudIconButton Icon="@Icons.Material.Filled.AddCircle" aria-label="add token" OnClick="OpenAddTokenDialog"></MudIconButton>
    </MudContainer>

    <DataLoaderProgress DataLoader="BindingContext.TokenList.DataLoader" Title="tokens" />
    <DataLoaderProgress DataLoader="BindingContext.BalanceDataList.DataLoader" Title="Balances" />

    <MudStack Class="mb-12">
        @if (BindingContext.BalanceDataList.Data != null)
        {
            @foreach (var balance in BindingContext.BalanceDataList.Data)
            {
                if (balance.Data?.Token?.TokenData == null)
                    continue;

                <MudPaper Class="pa-4">
                    <MudStack Row="true">

                        <div style="width:222px; display:flex; flex-direction: row; align-items:center; max-height: 50px;">
                            <MudAvatar Image="@UrlHelper.GetArweaveUrl(balance.Data?.Token?.TokenData?.Logo)" Size="Size.Medium" title="@balance.Data?.Token?.TokenId" />
                            <MudStack  Class="ml-4" Justify="Justify.Center" Spacing="0">
                                <MudText style="font-weight: 500;" Typo="Typo.body1">@balance.Data?.Token?.TokenData?.Name</MudText>
                                <MudText Typo="Typo.body2">@balance.Data?.Token?.TokenData?.Ticker</MudText>
                            </MudStack>
                        </div>

                        <MudStack Justify="Justify.Center" Spacing="0">
                            <DataLoaderProgress DataLoader="balance.DataLoader" Title="balance" />
                            @if (balance.Data?.BalanceData != null)
                            {
                                <MudText Typo="Typo.h5">@BalanceHelper.FormatBalance(balance.Data.BalanceData.Balance, balance.Data.Token?.TokenData?.Denomination ?? 0)</MudText>
                            }
                        </MudStack>
                        <MudSpacer />
                        <MudSpacer />
                        <MudStack Justify="Justify.Center" Spacing="0" Row="true">
                            <MudIconButton Icon="@Icons.Material.Filled.South" aria-label="Receive" OnClick="()=>{Receive(balance.Data);}"></MudIconButton>
                            @if (!(BindingContext.SelectedWallet?.IsReadOnly ?? true) && (BindingContext.SelectedWallet?.IsConnected ?? false))
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.ArrowOutward" aria-label="Send" OnClick="()=>{Send(balance.Data);}"></MudIconButton>
                            }
                        </MudStack>
                    </MudStack>
                </MudPaper>
            }
        }

    </MudStack>


    <DataLoaderProgress DataLoader="BindingContext.TokenTransferList.DataLoader" Title="transactions" />

    <MudStack>
        @if (BindingContext.TokenTransferList.Data != null)
        {
            <MudText Typo="Typo.h5">Transactions</MudText>


<MudTimeline TimelinePosition="TimelinePosition.Left">
            @foreach (var transfer in BindingContext.TokenTransferList.Data)
            {
                var tokenData = BindingContext.TokenList.Data?.Where(x => x.TokenId == transfer.TokenId).Select(x => x.TokenData).FirstOrDefault();
                if(tokenData == null)
                {
                    continue;
                }
                string txUrl = $"transaction/{transfer.Id}";
                    <MudTimelineItem>
                        <ItemDot>
                           <MudAvatar Image="@UrlHelper.GetArweaveUrl(tokenData.Logo)" Size="Size.Medium" title="@tokenData.TokenId" />
                        </ItemDot>
                        <ItemContent>
                            <MudText  Typo="Typo.caption">@transfer.Timestamp.ToString("s")</MudText>
                            @*<MudText Typo="Typo.body1">@tokenData.Name</MudText>*@
                            <MudText style="font-weight:500;" Typo="Typo.body2">@tokenData.Ticker</MudText>
                            <MudLink Class="KodeMono" style="text-overflow: ellipsis; white-space: nowrap;overflow: hidden;" Href="@txUrl" Typo="Typo.body1">
                                @transfer.Id
                            </MudLink>
                            <MudText Typo="Typo.h6">@BalanceHelper.FormatBalance(transfer.Quantity, tokenData.Denomination ?? 0)</MudText>
                            @if(BindingContext.SelectedAddress == transfer.From)
                            {
                                string detailUrl = $"wallet/{transfer.To}";
                                <MudIcon Icon="@Icons.Material.Filled.ArrowOutward" aria-label="Receive"></MudIcon>
                                <MudLink Class="KodeMono" style="text-overflow: ellipsis; white-space: nowrap;overflow: hidden;" Href="@detailUrl" Typo="Typo.h6">
                                    @transfer.To
                                </MudLink>
                            }
                            else if(BindingContext.SelectedAddress == transfer.To)
                            {
                                string detailUrl = $"wallet/{transfer.From}";
                                <MudIcon Icon="@Icons.Material.Filled.South" aria-label="Receive"></MudIcon>
                                <MudLink Class="KodeMono" style="text-overflow: ellipsis; white-space: nowrap;overflow: hidden;" Href="@detailUrl" Typo="Typo.h6">
                                    @transfer.From
                                </MudLink>
                            }
                        </ItemContent>
                </MudTimelineItem>
            }
            </MudTimeline>

        }

    </MudStack>
</MudContainer>


@code
{
    [Parameter]
    public string? Address { get; set; }

    private void OpenAddTokenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<AddTokenDialog>("Add Token", options);
    }

    private void Receive(BalanceDataViewModel? balanceDataVM)
    {
        BindingContext.SelectedBalanceDataVM = balanceDataVM;
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<ReceiveTokenDialog>("Receive Token", options);
    }

    private void Send(BalanceDataViewModel? balanceDataVM)
    {
        BindingContext.SelectedBalanceDataVM = balanceDataVM;
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<SendTokenDialog>("Transfer Token", options);
    }

}
