@inherits MvvmComponentBase<MainViewModel>
@inject NavigationManager NavigationManager

<MudStack>
    @if (BindingContext.WalletList.Data != null)
    {
        var sendWallets = BindingContext.WalletList.Data.Where(x => !x.IsReadOnly).ToList();
        if (!sendWallets.Any())
        {
            <MudButton aria-label="add wallet" Size="Size.Large" OnClick="OpenDialog">Add Wallet</MudButton>
        }
        else
        {
            if (BindingContext.CheckNeedsUnlock())
            {
                <UnlockWalletComponent />
            }
            else
            {
                <MudSelect @bind-Value="@BindingContext.ActiveWalletAddress" Label="Select a wallet" Class="mb-4 wallet-item-background" Variant="Variant.Outlined" ReadOnly="@ReadOnly">
                    @foreach (var wallet in sendWallets ?? new())
                    {
                        <MudSelectItem Value="@wallet.Address" Class="wallet-item-background">
                            <MudStack Row="true">
                                <MudStack style="overflow: hidden;" Justify="Justify.Center" Spacing="0">
                                    <div style="display:flex; white-space: nowrap;">
                                        <MudText Class="KodeMono" style="text-overflow: ellipsis; white-space: nowrap;overflow: hidden;" Typo="Typo.h6">
                                            @wallet.Address
                                        </MudText>
                                    </div>
                                    <div style="display:flex; flex-direction:row;padding-top:5px;">
                                        <MudText Typo="Typo.body2">@wallet.Name</MudText>
                                    </div>
                                </MudStack>
                            </MudStack>

                        </MudSelectItem>
                    }
                </MudSelect>
            }
        }
    }

</MudStack>

@code {

    [Parameter]
    public bool ReadOnly { get; set; }

    protected override void OnInitialized()
    {
        WatchDataLoaderVM(BindingContext.WalletList);
        WatchProp(nameof(BindingContext.SecretKey));

        base.OnInitialized();
    }

    private void OpenDialog()
    {
        NavigationManager.NavigateTo("/start");
    }
}
